<h1>All cocktails</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
  <%= link_to "Add a cocktail", new_cocktail_path %>
  <%= cl_image_tag('jucpbzbp03tb0zipp2eu',width: 400, height: 300, crop: :fill) %>


